<a href="https://colab.research.google.com/github/HangBuiC/HTM737/blob/main/Python_First_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mname = 'john'

In [2]:
print(mname)

john

In [5]:
print(mname[0:2]) #the value after the colon is NOT included #which means read up to 2. #What did here is that we sliced to string by index which is the order, location of the character.

jo

In [6]:
MCPHS_zip_code = '02115-2345'

In [7]:
print(MCPHS_zip_code[0:5])

02115

In [8]:
John_age = 65

In [12]:
print(John_age - 5)

60

In [14]:
john_weight = 150.7 #this is float because it has decimals
print(int(john_weight)) #integer cut the decimal, not smart enough to round up using "integer".

150

In [17]:
john_weight_int = 150

In [19]:
print(float(john_weight_int))

150.0

In [20]:
john_weight_str = str(john_weight_int) #converted to text

In [21]:
print(john_weight_int /2)

75.0

In [22]:
print(john_weight_str/2 ) #error because we can not divide text (str is converted to text)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [23]:
first_list = ['a',1]

In [25]:
print(first_list[0])

a

In [26]:
first_list[0] = 'ab' #Change a -> ab

In [27]:
print(first_list)

['ab', 1]

In [29]:
firs_tuple = ('a',1) #tuple khác list ở chỗ là nó ko đổi value bên trong được. Fixed case.

In [30]:
my_dictionary = {'John':65}

In [32]:
first_dict = {'john_age':65, 'heather_ag':45}

In [34]:
print(first_dict['john_age'])

65

In [47]:
def f_to_c(temp_f):
 temp_c = round((temp_f - 32) *5/9)
 return temp_c

In [48]:
f_to_c(53)

12

In [46]:
round(f_to_c(53),0)

12.0

In [54]:
def my_secret_function(height,weight):
    bmi = weight / (height)**2
    return bmi

In [55]:
my_secret_function(1.7,65)

22.49134948096886

In [58]:
my_secret_function(height =1.7,weight =65)

22.49134948096886

In [57]:
import pandas as pd